@import url("font.css");

/* 
  Open Sans font weights:
  300, 400, 600, 700, 800 
*/

/* 
  Visa blue: #1a1f71
  Visa yellow: #f7b600
*/

* {
  font-family: 'OpenSans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*
=======================================================
                        HEADER
=======================================================
*/

.header {
  height: 80px;
  background-color: #1a1f71;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #fff;
  border-bottom: 4px solid #f7b600;
}

.headerFiller {
  flex: 1 1 auto;
}

.headerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
}

.visaLogo {
  width: 120px;
  height: auto;
  padding-left: 12px;
}

.clickableLogo:hover {
  cursor: pointer;
}


.header a {
  padding: 12px 20px;
  color: #fff;
  text-decoration: none;
  transition: 0s color;
}

.header a:hover {
  color: #f7b600;
}

.headerText {
  /* only display on mobile layout */
  display: none;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #303030;
}

.userPopover a{

}

@media screen and (max-width: 1100px) {
  .headerBody {
    flex-shrink: 1;
  }
}


/*
=======================================================
                        MAP
=======================================================
*/

.map {
  width: '100%';
   /* view height minus (header and footer) */
  height: calc(100vh - 80px - 60px);
}

/* removes the map / satellite buttons */
.gm-style-mtc {
  display: none !important;
}

.mapMarkerMoreInfo {
  text-decoration-color: #909090;
}

.mapMarkerMoreInfo:hover {
  cursor: pointer;
  color: #202020;
  text-decoration-color: #404040;
}



/*
=======================================================
                        INPUT BOX
=======================================================
*/

.inputBox {
  width: 380px;
  /* view height of map minus 60px bc of the margins */
  max-height: calc(100vh - 80px - 60px - 60px);
  margin: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  border-radius: 4px;
  overflow: scroll;
}

.inputBoxHeader {
  padding: 18px 26px;
  background-color: #f0f2f4;
  font-size: 23px;
  font-weight: 600;
  color: #303030;
}

.inputBoxFields {
  padding: 25px;
  font-size: 15px;
}

.inputBoxFieldsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputBoxFieldsRow:nth-child(-n+2) {
  padding-bottom: 20px;
}

.inputBoxComponent {
  width: 220px !important;
  /* transition: transform 0s !important; */
}

.inputBoxFilterButton {
  transition: 0.15s opacity;
}

/* when given invalid input */
.inputBox .invalidZip.ant-input{
  /* rgb(255, 77, 79) */
  border-color: #ff4d4f !important;
}
.inputBox .invalidZip.ant-input:focus {
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}

.buttonShake {
  animation: shake .6s ease both;
}

@keyframes shake {
  0%, to {
      transform:translateX(0)
  }

  20% {
      transform:translateX(-15px)
  }

  40% {
      transform:translateX(15px)
  }

  60% {
      transform:translateX(-10px)
  }

  80% {
      transform:translateX(10px)
  }
}


.footerSpace {
  height: 30px;
  background-color: #f7fafc;
  display: none;
}

@media screen and (max-width: 800px) {
  .inputBox {
    position: relative;
    width: 400px;
    min-height: 450px;
    max-height: 600px;
    margin: 20px auto 0 auto;
    /* box-shadow: none; */
  }

  .inputBoxFieldsRow {
    font-size: 15px;
  }

  .inputBoxComponent {
    /* width: 160px !important; */
  }

  .inputBoxHeader {
    display: none;
  }

  .headerText {
    display: block;
  }

  .map {
    height: 350px;
    margin: 0 25px;
  }

  .footerSpace {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .inputBox {
    width: 100%;
  }
  .inputBoxComponent {
    /* 100% - padding 0 space for "find" and "near" text */
    width: calc(100vw - 50px - 100px) !important;
  }
  .map {
    margin: 0;
  }
}


/*
=======================================================
                      MERCHANT LIST
=======================================================
*/

.merchantList .ant-list-item-meta {
  cursor: pointer;
}

.ant-list-item-meta-title {
  margin: 0 !important;
}

.merchantListWebsite:hover {
  color: #202020 !important;
  border-bottom: 1px solid #585858;
}


/*
=======================================================
                      MERCHANT MODAL
=======================================================
*/

.merchantModalBody {
  display: flex;
  flex-direction: row;
}

.merchantModalBodyLeft {
  /* width: 50%; */
  width: 276px;
}

.merchantModalBodyRight {
  width: 276px;
}

.merchantModalHours {
  width: 200px;
  float: right; 
}

.merchantModalWebsite {
  font-weight: 500;
  color: #555759;
  border-bottom: 1px solid rgba(0,0,0,0.40);
}

.merchantModalWebsite:hover {
  color: #181a1c;
  border-bottom: 1px solid rgba(0,0,0,0.70);
}

.merchantModal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.merchantModalIconText {
  padding-left: 13px;
  margin-left: 13px;
  text-indent: -13px;
}

.merchantModalIconText:not(:last-child) {
  padding-bottom: 14px;
}

.merchantModalReviewsLink {
  border-bottom: 1px solid rgba(0,0,0,0.40);
}

.merchantModalReviewsLink:hover {
  color: #202020;
  border-bottom: 1px solid rgba(0,0,0,0.70);
  cursor: pointer;
}

.ant-tabs-nav {
    display: none !important;
}

.reviewsBack {
  font-size: 16px;
  color: #595959;
}

.reviewsBack:hover {
  color: #202020;
}

.merchantModalReviews .ant-list-item-meta-description {
  line-height: 1.8;
}

.ant-tabs-tabpane {
  /* height: 300px !important;
  overflow-y: scroll; */
}

.merchantModalBody .ant-btn-primary {
  background-color: #f7b600 !important;
  border-color: #f7b600 !important;
  text-shadow: none !important;
}

/* .merchantModalBody .ant-btn-primary:hover {
  background-color: #f7b600 !important;
  border-color: #f7b600;
} */

@media screen and (max-width: 650px) {
  .merchantModalBody {
      flex-direction: column;
      align-items: center;
  }
  .merchantModalHours {
    float: left;
  }
}


/*
=======================================================
                        SIGN IN
=======================================================
*/


.signinPage {
  min-height: 100vh;
  background-color: #f7fafc;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.ant-form, .ant-form-item {
  all: unset !important;
}

.signinBox {
  width: 400px;
  padding: 50px 50px 50px 50px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  font-size: 14px;
  font-weight: 500;
}

.signinShake {
  animation: shake .6s ease both;
}

.signinAlert {
  position: absolute;
  top: -20px;
  transition: opacity 0.1s;
}

.signinField {
  margin-top: 8px;
}

.signinForgot {
  float: right;
  font-weight: 600;
  color: #1890ff;
  -webkit-text-fill-color: #1890ff;
}

.signinForgot:hover {
  color: #404040;
  -webkit-text-fill-color: #404040;
}

.signinTextAbove {
  color: #585858;
  -webkit-text-fill-color: #585858;
  font-weight: 600;
}

.signinTextAbove:hover {
  color: #404040;
  -webkit-text-fill-color: #404040;
}

.signinButton {
  width: 100%;
  height: 40px !important;
  margin: 32px 0;
  font-weight: 600 !important;
}

.signinCheckbox {
  font-weight: 600;
}

.signinCheckbox:hover {
  color: #404040;
  -webkit-text-fill-color: #404040;
}


.signinBottomText {
  color: #1890ff;
  -webkit-text-fill-color: #1890ff;
}

.signinBottomText:hover {
  color: #404040;
  -webkit-text-fill-color: #404040;
}

.signinPage a {
  transition: none;
}

@media screen and (max-width: 440px) {
  .signinBox {
      width: 100%;
  }
}

/*
=======================================================
                        USER DASHBOARD
=======================================================
*/

.dashboard {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.dashboardBody {
  width: 700px;
  margin: 0 20px;
}

.dashboardBody h3 {
  color: #474c52;
  display: inline-block;
  border-bottom: 2px solid #777c82;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.dashboardGreyLinks {
  color: #8a8c8e;
  transition: color 0s;
}

.dashboardGreyLinks:hover {
  color: #474c52;
}

.offerCard {
  
}

.offerCardTag {
  color: #f7b600 !important;
  font-size: 16px;
  padding-right: 10px;
  transition: 0.30s color;
}

.offerCard:hover .offerCardTag{
  color: #c78600 !important;
}

.offerCardTagInactive {
  color: #808080 !important;
  font-size: 16px;
  padding-right: 10px;
  transition: 0.30s color;
}

.offerCard:hover .offerCardTagInactive{
  color: #303030 !important;
}

.ant-picker {
  /* width: 100% !important; */
}



/*
=======================================================
                        FOOTER
=======================================================
*/

.footer {
  background-color: #f7fafc;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.footerFiller {
  flex: 1 1 auto;
}

.footerBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  padding: 0 15px;
}

.visaFooter {
  width: 170px;
  height: auto;
  padding: 15px 15px 15px 0;
}

.footerSocial {
  width: 20px;
  height: 20px;
  margin: 10px;
}


@media screen and (max-width: 1100px) {
  .footer {
  }
  .footerBody {
    flex-shrink: 1;
    flex-wrap: wrap;
  }
}